<div class="container">


  <div class="card">
    <div class="card-header bg-primary">APP Component</div>
    <div class="card-body">
      <h2>APP Component Data</h2>
    </div>

  </div>

  <hr />

  <div class="row">
    <div class="col-12 col-md-3">
      <app-greet> </app-greet>
    </div>

    <div class="col-12 col-md-3">
      <app-greet> </app-greet>
    </div>

    <div class="col-12 col-md-3">
      <app-greet> </app-greet>
    </div>

    <div class="col-12 col-md-3">
      <app-greet> </app-greet>
    </div>

  </div>
<hr/>
  <div class="row">
    <div class="col-12 col-md-10 col-xs-3">
      <app-greet> </app-greet>
    </div>

    <div class="col-12 col-md-2 col-xs-3">
      <app-greet> </app-greet>
    </div>
  </div>





</div>