<div>
    <div>
        <div class="card">
            <div class="card-header">Products</div>
            <div class="card-body">

                <table class="table table-hover">
                    <tbody>
                        <tr *ngFor="let product of products">
                            <td (click)='onSelect(product)'> {{product.id}}</td>
                            <td>{{product.name}}</td>
                            <td>{{product.price}}</td>
                            <td>{{product.description}}</td>
                            <td><button (click)="editProduct(product)" class="btn btn-success">Edit</button></td>
                            <td><button (click)="deleteProduct(product.id)" class="btn btn-danger">Remove</button></td>

                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>