<div class="container">

  <div class="alert alert-info text-center">
    <h1>Welcome to Angular APP</h1>
  </div>

<h1>Hello {{name}} </h1>

<hr/>

<h1>{{product.id}}</h1>
<h1>{{product.name}}</h1>
<h1>{{product.price}}</h1>
<h1>{{product.description}}</h1>
<hr/>

<h1>Product: {{getProduct()}}    </h1>

<hr/>

<div>
  <div>Indian Time</div>
  <p>{{f1('Asia/Kolkata')}} </p>
</div>
<hr/>
<div>
  <div>Dubai Time</div>
  <p>{{f1('Asia/Dubai')}} </p>
</div>

<div>
  <div>American Time</div>
  <p>{{f1('America/New_York')}} </p>
</div>

</div>