<div class="container mt-3">


  <h3>Price : {{price | currency:'INR' }}</h3>
  <hr/>
  <h3>Date: {{doj | date}}</h3>
  <h3>Date: {{doj | date:'shortTime'}}</h3>
  <h3>Date: {{doj | date:'shortDate'}}</h3>
  <h3>Date: {{doj | date:'fullDate'}}</h3>
  <h3>Date: {{doj | date: 'd/MMM/y'}}</h3>
  <hr/>

  <h3>Decimal: {{ 3.14159265 | number: '3.1-2' }}</h3>
  <h3>Decimal: {{ 3.14159265 | number: '1.4-4' }}</h3>
  <hr/>

  <h3>Product: {{product | json}}</h3>

  <hr/>

  <h3>Lower case : {{'PRAVEEN' | lowercase}}</h3>
  <h3>Upper case : {{'praveen' | uppercase}}</h3>

  <hr/>

  <h3>Slice: {{ [1,2,3,4,5,6] | slice:1:3 }}</h3>

  <hr/>

 
  <div>
    <input type="text" placeholder="Filter by"/>

    <table class="table">
      <thead>
          <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            <th>Gender</th>
            <th>Mobile Number</th>
          </tr>
      </thead>

      <tbody>
        <tr *ngFor="let employee of employees | productFilter:'first_name':'asc'  ">
          <td>{{employee.id}}</td>
          <td>{{employee.first_name}}</td>
          <td>{{employee.last_name}}</td>
          <td>{{employee.email}}</td>
          <td>{{employee.gender}}</td>
          <td>{{employee.mobile}}</td>
        </tr>
      </tbody>

    </table>
  </div>











</div>